<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Client: </strong><span class="text-success">{{ pm.business_unit.client|upper }}</span> | 
            <strong class="card-title">Area: </strong><span class="text-success">{{ pm.business_unit.area }}</span> | 
            <strong class="card-title">Business Unit: </strong><span class="text-success">{{ pm.business_unit }}</span>

            <div class="float-right">

                <a href="{% url 'inventory:generate_preventive_maintenance_form' pm.business_unit.pk %}" class="btn btn-primary btn-sm">Generate Form</a>
               
            	{% if perms.inventory.can_view_units_per_pm %}
            	<a href="{% url 'inventory:get_list_per_businessunit' pm.business_unit.pk %}" class="btn btn-primary btn-sm">Show Units</a>
            	{% endif %}
            	{% if perms.inventory.change_preventivemaintenance %}
            		<a href="{% url 'inventory:pm-edit' pm.pk %}" class="btn btn-success btn-sm">Edit</a>
            	{% endif %}
            	{% if perms.inventory.can_soft_delete_pm %}
        			<a href="{% url 'inventory:pm-delete' pm.pk %}" class="btn btn-danger btn-sm">Delete</a>
        		{% endif %}
            	<a href="{% url 'inventory:pm-list' %}" class="btn btn-dark btn-sm">Back</a>
            </div>
        </div>
        <div class="card-body">
        	<div class="container-fluid">

        		{% include 'inventory/notifs/message.html' %}

				<form method="POST" action="{% url 'inventory:mark-as-done' pm.pk %}">
                	{% csrf_token %}

				<div class="col-md-5 offset-md-3">
                    <div class="card border border-success bg-success">
                        <div class="card-header">
                            <strong class="card-title text-white">Preventive Maintenance Details</strong>
                        </div>
                        <div class="card-body bg-white">
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Status:</p>
                        		</div>
                        		<div class="col-6">
                    				{% if pm.pm_done %} 
										<span class="badge badge-pill badge-success">Done</span>
									{% else %}
										<span class="badge badge-pill badge-danger">Pending</span>
									{% endif %}
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">SR #:</p>
                        		</div>
                        		<div class="col-6">
                        			{% if not pm.service_report_number and perms.inventory.can_mark_as_done %}
                        				<input type="text" name="service_report_number" class="form-control form-control-sm" required>
                        			{% else %}
                        				<p class="text-success">{{ pm.service_report_number }}</p>
                        			{% endif %}
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">PM Type:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.pm_type }}</p>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Client:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit.client|upper }}</p>
                        		</div>
                        	</div>
                        	
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Area:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit.area }}</p>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Business Unit:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit }}</p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Target Date:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.target_date }}</p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Target Time:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.target_time }}</p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Actual Date:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.actual_date }}</p>
                        		</div>
                        	</div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-dark">Assigned Personnel:</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-success">{{ pm.assigned_personnel }}</p>
                                </div>
                            </div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Remarks:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.remarks }}</p>
                        		</div>
                        	</div>
                        	{% if pm.pm_done %}
                            	<div class="row">
                            		<div class="col-6">
                            			<p class="text-dark">Date Done:</p>
                            		</div>
                            		<div class="col-6">
                            			<p class="text-success">{{ pm.pm_date_done }}</p>
                            		</div>
                            	</div>
                        	{% endif %}
                        	
                        	{% if not pm.pm_done and perms.inventory.can_mark_as_done %}
                            	<div class="row">
                            		<div class="col-6">
                            			<p class="text-dark">Email Address:</p>
                            			<p class="text-danger"><small>Use comma(,) as seperator for multiple emails.<br/>(eg. john@gmail.com,test@yahoo.com)</small></p>
                            		</div>
                            		<div class="col-6">
                            			<textarea name="emails" cols="40" rows="4" class="form-control form-control-sm"></textarea>
                            		</div>
                            	</div>
                            	
	                            	<div class="row pt-2">
	                            		<div class="col offset-9">
	                            			
	                            			<input type="submit" class="btn btn-success btn-sm" value="Mark as Done">
	                            			
	                            		</div>
	                            	</div>
	                            </form>
							{% endif %}
							
							<div class="float-right">
								<small class="text-dark">By: {{ pm.created_by }} | {{ pm.created_at }}</small>
							</div>
							
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
