{% for pm in pms %}
	<tr>
		<td>
			{% if perms.inventory.view_preventivemaintenance %}
				<a href="{% url 'inventory:pm-view' pk=pm.pk %}">{{ pm.service_report_number }}</a>
			{% else %}
				{{ pm.service_report_number }}
			{% endif %}
		</td>
		<td>{{ pm.business_unit.business_unit_name }}</td>
		<td>{{ pm.target_date }}</td>
		<td>{% if pm.pm_done %} 
				<span class="badge badge-pill badge-success">Done</span>
			{% else %}
				<span class="badge badge-pill badge-danger">Pending</span>
			{% endif %}
		</td>
	</tr>
{% empty %}
	<tr>
      <td colspan="9" class="text-center bg-light">No Preventive Maintenance Schedule</td>
    </tr>
{% endfor %}