<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Client: </strong><span class="text-success">{{ pm.business_unit.client|upper }}</span> | 
            <strong class="card-title">Area: </strong><span class="text-success">{{ pm.business_unit.area }}</span> | 
            <strong class="card-title">Business Unit: </strong><span class="text-success">{{ pm.business_unit }}</span>

            <div class="float-right">
            	<!-- {% if perms.inventory.can_view_units_per_pm %}
            	<a href="{% url 'inventory:get_list_per_businessunit' pm.business_unit.pk %}?pm_pk={{ pm.pk }}" class="btn btn-primary btn-sm">Show Units</a>
            	{% endif %} -->

                {% if not pm.pm_done %}
                	{% if perms.inventory.change_preventivemaintenance %}
                		<a href="{% url 'inventory:pm-edit' pm.pk %}" class="btn btn-success btn-sm">Edit</a>
                	{% endif %}
                	{% if perms.inventory.can_soft_delete_pm %}
            			<a href="{% url 'inventory:pm-delete' pm.pk %}" class="btn btn-danger btn-sm">Delete</a>
            		{% endif %}
                {% endif %}

                {% if pm.pm_done %}
                    <a href="#" class="btn btn-warning btn-sm" data-url="{% url 'inventory:pm-upload-attachment' pm.pk %}" data-toggle="modal" data-target="#upload_attachment_modal">Upload attachment</a>
                {% endif %}
            	<a href="{% url 'inventory:pm-list' %}" class="btn btn-dark btn-sm">Back</a>
            </div>
        </div>
        <div class="card-body">
        	<div class="container-fluid">

        		{% include 'inventory/notifs/message.html' %}

				<div class="col-md-5 offset-md-3">
                    <div class="card bg-{% if pm.pm_done %}success{% else %}danger{% endif %}">
                        <div class="card-header">
                            <strong class="card-title text-white">Preventive Maintenance Details</strong>
                            
                            {% if perms.inventory.can_generate_certification_form %}
                                {% if not pm.pm_done or request.user.is_superuser %}
                                <div class="float-right">
                                    <a href="{% url 'inventory:generate_certification_form' pm.pk %}" target="_blank" class="btn btn-light btn-sm font-weight-bold text-success"><i class="menu-icon fa fa-folder-o"></i> Print Certification Form</a>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body bg-white">
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Status:</p>
                        		</div>
                        		<div class="col-6">
                    				{% if pm.pm_done %} 
										<span class="badge badge-pill badge-success">Done</span>
									{% else %}
										<span class="badge badge-pill badge-danger">Pending</span>
									{% endif %}
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">SR #:</p>
                        		</div>
                        		<div class="col-6">	
                        			<p class="text-success">{{ pm.service_report_number }}</p>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">PM Type:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.pm_type }}</p>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Client:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit.client|upper }}</p>
                        		</div>
                        	</div>
                        	
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Area:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit.area }}</p>
                        		</div>
                        	</div>

                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Business Unit:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.business_unit }}</p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Target Date:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.target_date }}</p>
                        		</div>
                        	</div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Target Time:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.target_time }}</p>
                        		</div>
                        	</div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="text-dark">Assigned Personnel:</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-success">{{ pm.assigned_personnel }}</p>
                                </div>
                            </div>
                        	<div class="row">
                        		<div class="col-6">
                        			<p class="text-dark">Remarks:</p>
                        		</div>
                        		<div class="col-6">
                        			<p class="text-success">{{ pm.remarks }}</p>
                        		</div>
                        	</div>
                        	{% if pm.pm_done %}
                            	<div class="row">
                            		<div class="col-6">
                            			<p class="text-dark">Date Done:</p>
                            		</div>
                            		<div class="col-6">
                            			<p class="text-success">{{ pm.pm_date_done }}</p>
                            		</div>
                            	</div>
                        	{% endif %}

                            <div class="row">
                                <div class="col-6">
                                    <p class="text-dark">Attachment:</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-success">
                                        {% if pm.attachment %}
                                            {{ pm.filename }}
                                             <a href="{{ pm.attachment.url }}" target="_blank" class="text-muted"><i class="fa fa-download"></i></a>
                                        {% else%}
                                            No attachment
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        	
                        	{% if perms.inventory.can_mark_as_done %}

                                <a href="{% url 'inventory:pm-mark-done' pm.pk %}" class="btn btn-success btn-sm w-100">Update PM</a>

							{% endif %}
							
							<div class="float-right">
								<small class="text-dark">By: {{ pm.created_by }} | {{ pm.created_at }}</small>
							</div>
							
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
