{% load static %}
{% load widget_tweaks %}

{% block css %}
	<!-- <link rel="stylesheet" href="{% static 'inventory/js/jquery/jquery-ui.min.css' %}"> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'inventory/js/timepicker/jquery.timepicker.min.css' %}">
{% endblock %}

	<div class="row">
		
		<div class="col-md-4">
			<div class="form-group {% if form.business_unit.errors %} has-error {% endif %}">
				<label for="{{ form.business_unit.id_for_label }}">{{ form.business_unit.label }}:</label>
				{{ form.business_unit }}
				{% if form.business_unit.errors %}
					<ul class="text-danger">
					{% for errors in form.business_unit.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group {% if form.pm_type.errors %} has-error {% endif %}">
				<label for="{{ form.pm_type.id_for_label }}">{{ form.pm_type.label }}:</label>
				{{ form.pm_type }}
				{% if form.pm_type.errors %}
					<ul class="text-danger">
					{% for errors in form.pm_type.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group {% if form.assigned_personnel.errors %} has-error {% endif %}">
				<label for="{{ form.assigned_personnel.id_for_label }}">{{ form.assigned_personnel.label }}:</label>
				{{ form.assigned_personnel }}
				{% if form.assigned_personnel.errors %}
					<ul class="text-danger">
					{% for errors in form.assigned_personnel.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group {% if form.target_date.errors %} has-error {% endif %}">
				<label for="{{ form.target_date.id_for_label }}">{{ form.target_date.label }}:</label>
				{{ form.target_date }}
				{% if form.target_date.errors %}
					<ul class="text-danger">
					{% for errors in form.target_date.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group {% if form.target_time.errors %} has-error {% endif %}">
				<label for="{{ form.target_time.id_for_label }}">{{ form.target_time.label }}:</label>
				{{ form.target_time }}
				{% if form.target_time.errors %}
					<ul class="text-danger">
					{% for errors in form.target_time.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group {% if form.remarks.errors %} has-error {% endif %}">
				<label for="{{ form.remarks.id_for_label }}">{{ form.remarks.label }}:</label>
				{{ form.remarks }}
				{% if form.remarks.errors %}
					<ul class="text-danger">
					{% for errors in form.remarks.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group {% if form.emails.errors %} has-error {% endif %}">
				<label for="{{ form.emails.id_for_label }}">{{ form.emails.label }}:</label>
				<small class="text-danger">( Please use comma(,) for multiple emails. )</small>
				{{ form.emails }}
				{% if form.emails.errors %}
					<ul class="text-danger">
					{% for errors in form.emails.errors %}
						<li>{{ errors }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>

		<!-- {% for field in form %}
			<div class="col-md-4">
				<div class="form-group{% if field.errors %} has-error{% endif %}">
				    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
				    {% render_field field class="form-control" %}
				    {% for error in field.errors %}
				      <p class="text-danger help-block">{{ error }}</p>
				    {% endfor %}
				</div>
			</div>
				
		{% endfor %} -->
	</div>

{% block js %}

<script src="{% static 'inventory/js/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'inventory/js/timepicker/jquery.timepicker.min.js' %}"></script>

<script>
  jQuery(function($) {
	$('.js-pm-create-form').submit(function() {
		$('#loader').show(); 
	});


    $( "#id_target_date" ).datepicker();
    $( "#id_target_time" ).timepicker({ zindex: 9999999});
  }	);
</script>

{% endblock %}