<form method="post" action="{% url 'inventory:unit-delete' unit.pk %}" class="js-unit-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Confirm Delete - Unit</h5>
  </div>
  <div class="modal-body">
    <p class="lead text-danger font-weight-bold">Are you sure you want to delete serial number: <span class="text-dark">{{ unit.serial_number|upper }}?</span></p> 
  </div>
  <div class="modal-footer">
     <button type="submit" class="btn btn-danger btn-fill">Delete Unit</button>
    <button type="button" class="btn btn-success btn-fill" data-dismiss="modal">Cancel</button>
  </div>
</form>