{% for unit in units %}
	<tr>
		<td>{{ unit.business_unit.location }}</td>
		<td>{{ unit.business_unit }}</td>
		<td>{{ unit.business_unit.rc_code }}</td>
		<td>{{ unit.machine_type }}</td>
		<td>{{ unit.brand }} | {{ unit.model }}</td>
		<td>{{ unit.serial_number }}</td>
		<td>{{ unit.mst_tag }}</td>
		<td>{{ unit.user }}</td>
		<!--<td>{{ unit.created_at }}</td>-->
		<td><button class="btn btn-sm btn-fill js-edit-unit" data-url="{% url 'unit-edit' unit.pk %}">Edit</button></td>
		<td><button class="btn btn-sm btn-fill btn-danger js-delete-unit" data-url="{% url 'unit-delete' unit.pk %}">Delete</button></td>
	</tr>
{% empty %}
	<tr>
      <td colspan="9" class="text-center bg-light">No Unit Available</td>
    </tr>
{% endfor %}