{% extends 'inventory/base.html' %}
{% load static %}

<!-- Dynamic title per module -->
{% block title %} Preventive Maintenance Schedules {% endblock %}

<!-- Dynamic header per module -->
{% block header %} Preventive Maintenance Schedules {% endblock %}

<!-- Dynamic content per module -->
{% block content %}
<div class="content">
    <div class="container-fluid">

		{% if perms.inventory.add_preventivemaintenance %}
	    	<button type="button" data-url="{% url 'pm-create' %}" class="btn btn-success btn-fill js-create-pm">
				Add PM Schedule
			</button>
		{% endif %}

		{% if perms.inventory.view_preventivemaintenance %}
	    	<div class="card-body table-full-width table-responsive">
		    	<table class="table" id="pm-table">
		    		<thead>
		    			<tr>
		    				<th>SR #</th>
		    				<th>Business Unit</th>
		    				<th>Target</th>
		    				<th>Actual</th>
		    				<th>Date Done</th>
		    				<th>Status</th>
		    				{% if perms.inventory.change_preventivemaintenance or perms.inventory.delete_preventivemaintenance %}
		    					<th>Actions</th>
		    				{% endif %}
		    			</tr>
		    		</thead>
		    		<tbody>
		    			{% include 'inventory/includes/preventive_maintenance/partial_pm_list.html' %}
		    		</tbody>	
		    	</table>
		    </div>
		{% endif %}
      
    </div>
</div>

<!-- PM Modal -->
<div class="modal fade modal-primary" id="modal-pm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--  End Modal -->

<!-- PM Modal -->
<div class="modal fade modal-primary" id="modal-tag-pm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--  End Modal -->

{% endblock %}

{% block javascript %}
	<script src="{% static 'inventory/js/custom/pm_crud.js' %}" type="text/javascript"></script>
{% endblock %}