{% extends 'inventory/base.html' %}
{% load static %}

<!-- Dynamic title per module -->
{% block title %} Preventive Maintenance - {{ business_unit_name|upper }} {% endblock %}

<!-- Dynamic header per module -->
{% block header %} Preventive Maintenance  | Business unit: <strong>{{ business_unit_name|upper }}</strong> {% endblock %}

<!-- Dynamic content per module -->
{% block content %}
<div class="content">
    <div class="container-fluid">
    	
		{% if perms.inventory.view_unit %}
	    	<div class="card-body table-full-width table-responsive">
		    	<table class="table table-hover" id="unit-table">
		    		<thead>
		    			<tr>
		    				<th>Location</th>
		    				<th>Business Unit</th>
		    				<th>Branch Code</th>
		    				<th>Machine Type</th>
		    				<th>Brand/Model</th>
		    				<th>Serial Number</th>
		    				<th>Tag Number</th>
		    				<th>Current User</th>
		    				{% if perms.inventory.change_unit or perms.inventory.delete_unit %}
		    					<th>Actions</th>
		    				{% endif %}
		    			</tr>
		    		</thead>
		    		<tbody>
		    			{% include 'inventory/includes/unit/partial_unit_list.html' %}
		    		</tbody>
		    	</table>
		    </div>
		{% endif %}
      
    </div>
</div>

{% endblock %}

