{% extends 'inventory/base.html' %}
{% load static %}

<!-- Dynamic title per module -->
{% block title %} Unit List {% endblock %}

<!-- Dynamic header per module -->
{% block header %} Unit List {% endblock %}

<!-- Dynamic content per module -->
{% block content %}
<div class="content">
    <div class="container-fluid">

		{% if perms.inventory.add_unit %}
	    	<button type="button" data-url="{% url 'unit-create' %}" class="btn btn-success btn-fill js-create-unit">
				Add Unit
			</button>
		{% endif %}

		{% if perms.inventory.view_unit %}
	    	<div class="card-body table-full-width table-responsive">
		    	<table class="table" id="unit-table">
		    		<thead>
		    			<tr>
		    				<th>Location</th>
		    				<th>Business Unit</th>
		    				<th>Branch Code</th>
		    				<th>Machine Type</th>
		    				<th>Brand/Model</th>
		    				<th>Serial Number</th>
		    				<th>Tag Number</th>
		    				<th>Current User</th>
		    				{% if perms.inventory.change_unit or perms.inventory.delete_unit %}
		    					<th>Actions</th>
		    				{% endif %}
		    			</tr>
		    		</thead>
		    		<tbody>
		    			{% include 'inventory/includes/unit/partial_unit_list.html' %}
		    		</tbody>
		    	</table>
		    </div>
		{% endif %}
      
    </div>
</div>

<!-- Unit Modal -->
<div class="modal fade modal-primary" id="modal-unit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--  End Modal -->

{% endblock %}

{% block javascript %}
	<script src="{% static 'inventory/js/custom/unit_crud.js' %}" type="text/javascript"></script>
{% endblock %}