{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Microsphere - PM Delete {% endblock %}

{% block page_title %} Service Report #: <span class="text-success">{{ pm.service_report_number }}</span> {% endblock %}
{% block page_title_second %}
	<a href="{% url 'inventory:pm-list' %}"> PM List</a> > Details
{% endblock %}


{% block content %}

    <div class="content mt-3">
        <div class="animated fadeIn">
			<div class="row">
				<div class="col-4 offset-3">
					<h5>Are you sure you want to delete this PM?</h5>
					
				</div>
			</div>

			<div class="row pt-2">
				<div class="col-2 offset-3">
					<form method="POST">
						{% csrf_token %}
						<button type="submit" class="btn btn-success btn-sm" style="width:6rem">Delete</button>
						<a href="{% url 'inventory:pm-view' pm.pk %}" class="btn btn-danger btn-sm" style="width:6rem">Cancel</a>
					</form>
				</div>
			</div>

            <div class="row pt-2">
				{% include 'inventory/includes/pm/partial_pm_detail.html' %}
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

{% endblock%}

{% block js %}

    <!-- custom javascript -->
    <script src="{% static 'inventory/js/custom/unit_crud.js' %}"></script>

{% endblock %}
