{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Microsphere - PM List {% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'inventory/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

{% endblock %}

{% block page_title %} PM List | {{ status }} {% endblock %}
{% block page_title_second %} PM List {% endblock %}

{% block content %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                {% include 'inventory/notifs/message.html' %}

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="{% url 'inventory:pm-list' %}" class="btn btn-primary">
                                    All 
                            </a>
                            <a href="{% url 'inventory:pm-list' %}?status=Done" class="btn btn-success">
                                    Done
                            </a>
                            <a href="{% url 'inventory:pm-list' %}?status=Pending" class="btn btn-danger">
                                    Pending
                            </a>
                            {% if perms.inventory.add_preventivemaintenance %}
                                <div class="float-right">
                                     <button type="button" class="btn btn-success js-create-pm" data-url="{% url 'inventory:pm-create' %}" data-toggle="modal" data-target="#modal-pm">
                                        Add PM
                                    </button>                               
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table id="pm-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>SR #</th>
                                        <th>Business Unit</th>
                                        <th>Target Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'inventory/includes/pm/partial_pm_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->



<!-- PM Modal -->
<div class="modal fade" id="modal-pm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--  End Modal -->

<!-- PM Modal -->
<div class="modal fade" id="modal-tag-pm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--  End Modal -->

{% endblock %}

{% block js %}

    <script src="{% static 'inventory/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'inventory/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

    <!-- custom javascript -->
    <script src="{% static 'inventory/js/custom/pm_crud.js' %}"></script>

{% endblock %}