{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Microsphere - PM View {% endblock %}

{% block page_title %} Service Report Number: <span class="text-success">{{ pm.service_report_number }}</span> {% endblock %}
{% block page_title_second %}
	<a href="{% url 'inventory:pm-list' %}"> PM List</a> > Details
{% endblock %}

{% block content %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

				{% include 'inventory/includes/pm/partial_pm_detail.html' %}

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

	<!-- modal for upload_attachment -->
	<div class="modal fade" id="upload_attachment_modal" tabindex="-1" role="dialog" aria-labelledby="upload_attachmentLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content" id="upload_attachment_content">
	            {% include 'inventory/includes/pm/partial_upload_attachment.html' %}
	        </div>
	    </div>
	</div>
	<!-- end modal for upload_attachment -->

	<!-- modal for notification -->
	<div class="modal fade" id="notification_modal" tabindex="-1" role="dialog" aria-labelledby="notificationLabel" aria-hidden="true">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header bg-success text-light">
	                <h5 class="modal-title">Notification</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	            	<h6 class="notification_message"></h6>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}

{% block js %}

	<script>
		jQuery(function($) {

			$('#upload_attachment_modal').on('show.bs.modal', function(e){
				let btn = $(e.relatedTarget);
				upload_url = btn.attr('data-url');
				$.ajax({
					url: upload_url,
					type: 'GET',
					datatype: 'json',
					success: function(data){
						$('#upload_attachment_content').html(data.html_form);
					}
				})
			});

			$("#upload_attachment_modal").on("submit", "#attachment_upload_form", function(e){

				var form = $(this);
				
				$.ajax({
					url: form.attr("method"),
					data: form.serialize(),
					type: form.attr("method"),
					dataType: 'json',
					cache: false,
				    processData: false,
				    contentType: false,
					success: function(data){

						if (data.is_valid) {
							$('#upload_attachment_modal').modal('hide');
    						$('#notification_modal').modal('show');
    						$('.notification_message').html(data.message);
						}
						else {
							$('#upload_attachment_content').html(data.html_form);
						}
						
					}
				});
			});

			$('#upload_attachment_btn').click(function(){
				let attachment = $('#attachment').val();

				$.ajax({
					url: upload_url,
					type: 'POST',
					datatype: 'json',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}',
						   'attachment': attachment,},
					success: function(data){
						$('#upload_attachment_modal').modal('hide');
    					$('#notification_modal').modal('show');
    					$('.notification_message').html(data.message);
					}
				});
			});

		});
	</script>

{% endblock %}
