{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Microsphere - PM View {% endblock %}


{% block page_title %} Service Report Number: <span class="text-success">{{ pm.service_report_number }}</span> {% endblock %}
{% block page_title_second %}
	<a href="{% url 'inventory:pm-list' %}"> PM List</a> > Details
{% endblock %}

{% block content %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

				{% include 'inventory/includes/pm/partial_pm_detail.html' %}

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

{% endblock %}
