{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Microsphere Systems Technology</title>
	<link rel="stylesheet" href="{% static 'inventory/vendors/bootstrap/dist/css/bootstrap.min.css' %}">

</head>
<body>
	<div class="container-fluid">

		<p>Dear Sir/Madam,</p>
		
		{% if format_email.body %}
			<div class="row">
				<div class="col">
					<p>{{ format_email.body|safe }}</p>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col">
				<p><strong>{{ email_message|safe }}</strong></p>
			</div>
		</div>

		<div class="remarks">
			<p>Respectfully,</p>
			<p>Microsphere System Technology</p>
		</div>
	</div>

	
</body>
</html>