{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Microsphere Systems Technology</title>
	<link rel="stylesheet" href="{% static 'inventory/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
	<style type="text/css">
		table, th, td {
		  border: 2px solid black;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;
		}
		thead {
		  background: green;
		  color:black;
		}
		tbody {
		  color:green;
		}
		h3 {
		  color:black;
		}
		p {
		  color:black;
		  font-weight: bold;
		}
		span {
		  color:green;
		}
	</style>

</head>
<body>
	<div class="container-fluid">

		<p>Dear Sir/Madam,</p>

		<div class="row">
			<div class="col">
				<p>This is to confirm completion of Preventive Maintenance Activity for PC and Printers under Maintenance Agreement.<br/>
				Below are the list:</p>
			</div>
		</div>

		{% if format_email.body %}
			<div class="row">
				<div class="col">
					<p>{{ format_email.body|safe }}</p>
				</div>
				<p>Business Unit: 	 <span>{{ pm.business_unit }}</span></p>
				<p>Service Report #: <span>{{ pm.service_report_number }}</span></p>
				<p>PM Type: 	     <span>{{ pm.pm_type }}</span></p>
				<p>PM Date Done:     <span>{{ pm.pm_date_done|date:'M d, Y' }}</span></p>
				{% if remarks %}
				<p>Remarks:          <span>{{ pm.remarks }}</span></p>
				{% endif %}
			</div>
		{% endif %}

		<table>
			<thead>
				<tr>
					{% if 'client' in table_columns %}
					<th>Client</th>
					{% endif %}

					{% if 'area' in table_columns %}
        			<th>Area</th>
        			{% endif %}

        			{% if 'business_unit' in table_columns %}
        			<th>Business Unit</th>
        			{% endif %}

        			{% if 'machine_type' in table_columns %}
        			<th>Machine Type</th>
        			{% endif %}

        			{% if 'machine_brand' in table_columns %}
        			<th>Machine Brand</th>
        			{% endif %}
	
					{% if 'model' in table_columns %}
        			<th>Model</th>
        			{% endif %}

        			{% if 'serial_number' in table_columns %}
        			<th>Serial Number</th>
        			{% endif %}

        			{% if 'computer_tag' in table_columns %}
        			<th>Computer Tag</th>
        			{% endif %}

        			{% if 'user' in table_columns %}
        			<th>User</th>
        			{% endif %}

        			{% if 'designation' in table_columns %}
        			<th>Designation</th>
        			{% endif %}

        			{% if 'operating_system' in table_columns %}
        			<th>Operating System</th>
        			{% endif %}

        			{% if 'office_application' in table_columns %}
					<th>Office App.</th>
					{% endif %}



					{% if 'host_name' in table_columns %}
        			<th>HostName</th>
        			{% endif %}

        			{% if 'mac_address' in table_columns %}
        			<th>MAC</th>
        			{% endif %}

        			{% if 'ip_address' in table_columns %}
        			<th>IP</th>
        			{% endif %}

        			{% if 'processor' in table_columns %}
					<th>Processor</th>
					{% endif %}

					{% if 'total_ram' in table_columns %}
        			<th>RAM</th>
        			{% endif %}

        			{% if 'hdd_size' in table_columns %}
        			<th>HDD</th>
        			{% endif %}

        			{% if 'monitor_type' in table_columns %}
        			<th>OS</th>
        			{% endif %}

        			{% if 'monitor_brand' in table_columns %}
					<th>Monitor Brand</th>
					{% endif %}

					{% if 'monitor_size' in table_columns %}
        			<th>Monitor Size</th>
        			{% endif %}

        			{% if 'working' in table_columns %}
        			<th>Working</th>
        			{% endif %}

        			{% if 'status' in table_columns %}
        			<th>Status</th>
        			{% endif %}

        			{% if 'remarks' in table_columns %}
					<th>Remarks</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for unit in units %}
					<tr>
						{% if 'client' in table_columns %}
						<td>{{ unit.preventive_maintenance.business_unit.client.client_code }}</td>
						{% endif %}

						{% if 'area' in table_columns %}
	        			<td>{{ unit.preventive_maintenance.business_unit.area }}</td>
	        			{% endif %}

	        			{% if 'business_unit' in table_columns %}
	        			<td>{{ unit.preventive_maintenance.business_unit.business_unit_name }}</td>
	        			{% endif %}

	        			{% if 'machine_type' in table_columns %}
	        			<td>{{ unit.unit.machine_type }}</td>
	        			{% endif %}

	        			{% if 'machine_brand' in table_columns %}
	        			<td>{{ unit.unit.machine_brand }}</td>
	        			{% endif %}

	        			{% if 'model' in table_columns %}
	        			<td>{{ unit.unit.model }}</td>
	        			{% endif %}

	        			{% if 'serial_number' in table_columns %}
	        			<td>{{ unit.unit.serial_number }}</td>
	        			{% endif %}

	        			{% if 'computer_tag' in table_columns %}
	        			<td>{{ unit.unit.computer_tag }}</td>
	        			{% endif %}

	        			{% if 'user' in table_columns %}
	        			<td>{{ unit.unit.user }}</td>
	        			{% endif %}

	        			{% if 'designation' in table_columns %}
	        			<td>{{ unit.unit.designation }}</td>
	        			{% endif %}

	        			{% if 'operating_system' in table_columns %}
	        			<td>{{ unit.unit.operating_system }}</td>
	        			{% endif %}

	        			{% if 'office_application' in table_columns %}
	        			<td>{{ unit.unit.office_application }}</td>
	        			{% endif %}

	        			{% if 'host_name' in table_columns %}
	        			<td>{{ unit.unit.host_name }}</td>
	        			{% endif %}

	        			{% if 'mac_address' in table_columns %}
	        			<td>{{ unit.unit.mac_address }}</td>
	        			{% endif %}

	        			{% if 'ip_address' in table_columns %}
	        			<td>{{ unit.unit.ip_address }}</td>
	        			{% endif %}

	        			{% if 'processor' in table_columns %}
	        			<td>{{ unit.unit.processor }}</td>
	        			{% endif %}

	        			{% if 'total_ram' in table_columns %}
	        			<td>{{ unit.unit.total_ram }}</td>
	        			{% endif %}

	        			{% if 'hdd_size' in table_columns %}
	        			<td>{{ unit.unit.hdd_size }}</td>
	        			{% endif %}

	        			{% if 'monitor_type' in table_columns %}
	        			<td>{{ unit.unit.monitor_type }}</td>
	        			{% endif %}

	        			{% if 'monitor_brand' in table_columns %}
	        			<td>{{ unit.unit.monitor_brand }}</td>
	        			{% endif %}

	        			{% if 'monitor_size' in table_columns %}
	        			<td>{{ unit.unit.monitor_size }}</td>
	        			{% endif %}

	        			{% if 'working' in table_columns %}
	        			<td>{{ unit.unit.working }}</td>
	        			{% endif %}

	        			{% if 'status' in table_columns %}
	        			<td>{{ unit.unit.status }}</td>
	        			{% endif %}

	        			{% if 'remarks' in table_columns %}
	        			<td>{{ unit.unit.remarks }}</td>
	        			{% endif %}

					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="remarks">
			<p>Thank you very much,</p>
			<p>Microsphere System Technology</p>
		</div>
		
	</div>

	
</body>
</html>