{% extends 'inventory/base.html' %}
{% load widget_tweaks %}

{% block title %} Microsphere - Unit Edit {% endblock %}

{% block page_title %} Serial Number: <span class="text-success">{{ unit.serial_number }}</span> {% endblock %}
{% block page_title_second %}<a href="{% url 'inventory:unit-list' %}"> Unit List</a> > <a href="{% url 'inventory:unit-view' unit.pk %}"> Details</a> > Edit {% endblock %}

{% block content %}

<form method="POST">
{% csrf_token %}
	<div class="content mt-3">
	    <div class="animated fadeIn">
	    	<div class="row">
	    		<div class="col-md-12">
			        <div class="card">
			            <div class="card-header">
			            	<strong class="card-title">Client: </strong><span class="text-success">{{ unit.business_unit.client|upper }}</span> | 
			                <strong class="card-title">Area: </strong><span class="text-success">{{ unit.business_unit.area }}</span> |
			                <strong class="card-title">Business Unit: </strong><span class="text-success">{{ unit.business_unit }}</span>
			            	<div class="float-right">
			            		<input type="submit" class="btn btn-success btn-sm" value="Save" title="Save Changes">
			            		<a href="{% url 'inventory:unit-view' unit.pk %}" class="btn btn-dark btn-sm" role="button" title="Cancel Editing">Cancel</a>
			            	</div>
			            </div>
	    	
				    	<div class="row pt-2 pl-2 pr-2">
				        	<div class="col-lg-6">
				                <div class="card">
				                    <div class="card-header"><strong>Main Details</strong></div>
				                    <div class="card-body">
				                        {% for field in form.visible_fields|slice:":8" %}
							                <div class="row form-group">
							                    <div class="col col-md-5">{{ field.label_tag }}</div>
							                    <div class="col-7 col-md-7">
							                    	{{ field }}
							                    	<small class="form-text text-danger">{{ field.errors }}</small>
							                    </div>
							                </div>
						                {% endfor %}
				                    </div>
				                </div> <!-- .card -->
				            </div>

				            <div class="col-lg-6">
				                <div class="card">
				                    <div class="card-header"><strong>Other Details</strong></div>
				                    <div class="card-body card-block">
				                    	{% for field in form.visible_fields|slice:"8:" %}
							                <div class="row form-group">
							                    <div class="col col-md-5">{{ field.label_tag }}</div>
							                    <div class="col-7 col-md-7">
							                    	{{ field }}
							                    	<small class="form-text text-danger">{{ field.errors }}</small>
							                    </div>
							                </div>
						                {% endfor %}
				                    </div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
	    </div><!-- .animated -->
	</div><!-- .content -->
</form>

{% endblock %}