{% extends 'inventory/base.html' %}

{% block content %}

	<div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Serial Number: <span class="text-success">{{ unit.serial_number }}</span></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <button type="button" class="btn btn-success btn-sm js-create-unit" data-url="{% url 'unit-create' %}" data-toggle="modal" data-target="#modal-unit">
                            Edit Unit
                        </button>
                        <!--<li class="active">Unit List</li>
                        <li><a href="#">Table</a></li>
                        <li class="active">Data table</li>-->
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Client: <span class="text-success">{{ unit.business_unit.client|upper }}</span> | </strong>
                            <strong class="card-title">Area: <span class="text-success">{{ unit.business_unit.area }}</span> | </strong>
                            <strong class="card-title">Business Unit: <span class="text-success">{{ unit.business_unit }}</span></strong>
                        </div>
                        <div class="card-body">
                        	<div class="container">
									
								<div class="row border border-success rounded">
									<div class="col-2">
										<label>Class: </label>
									</div>
									<div class="col-10">
										{{ unit.machine_type.machine_class }}
									</div>

									<div class="col-2">
										<label>Type: </label>
									</div>
									<div class="col-10">
										{{ unit.machine_type }}
									</div>

									<div class="col-2">
										<label>Brand: </label>
									</div>
									<div class="col-10">
										{{ unit.machine_brand }}
									</div>

									<div class="col-2">
										<label>Model: </label>
									</div>
									<div class="col-10">
										{{ unit.model }}
									</div>

									<div class="col-2">
										<label>Computer Tag: </label>
									</div>
									<div class="col-10">
										{{ unit.computer_tag }}
									</div>

									<div class="col-2">
										<label>MST Tag: </label>
									</div>
									<div class="col-10">
										{{ unit.mst_tag }}
									</div>

									<div class="col-2">
										<label>User: </label>
									</div>
									<div class="col-10">
										{{ unit.user }}
									</div>
									<div class="col-2">
										<label>Designation: </label>
									</div>
									<div class="col-10">
										{{ unit.designation }}
									</div>
								</div>

								<div class="row border border-success rounded">
									<div class="col-2">
										<label>Operating System: </label>
									</div>
									<div class="col-10">
										{{ unit.operating_system }}
									</div>

									<div class="col-2">
										<label>Office Application: </label>
									</div>
									<div class="col-10">
										{{ unit.office_application }}
									</div>

									<div class="col-2">
										<label>Host Name: </label>
									</div>
									<div class="col-10">
										{{ unit.host_name }}
									</div>

									<div class="col-2">
										<label>MAC Address: </label>
									</div>
									<div class="col-10">
										{{ unit.mac_address }}
									</div>

									<div class="col-2">
										<label>IP Address: </label>
									</div>
									<div class="col-10">
										{{ unit.ip_address }}
									</div>

									<div class="col-2">
										<label>Processor: </label>
									</div>
									<div class="col-10">
										{{ unit.processor }}
									</div>

									<div class="col-2">
										<label>Total Ram: </label>
									</div>
									<div class="col-10">
										{{ unit.total_ram }}
									</div>
									<div class="col-2">
										<label>HDD Size: </label>
									</div>
									<div class="col-10">
										{{ unit.hdd_size }}
									</div>
								</div>

								<div class="row">
									<div class="col-2">
										<label>Monitor Type: </label>
									</div>
									<div class="col-10">
										{{ unit.monitor_type }}
									</div>
									<div class="col-2">
										<label>Monitor Brand: </label>
									</div>
									<div class="col-10">
										{{ unit.monitor_brand }}
									</div>
									<div class="col-2">
										<label>Monitor Size: </label>
									</div>
									<div class="col-10">
										{{ unit.monitor_size }}
									</div>
								</div>
										{{ unit.remarks }}
										{{ unit.active }}
										{{ unit.created_at|date }}
										{{ unit.updated_at|date }}
										{{ unit.created_by }}
										{{ unit.updated_by }}

							</div>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock%}