{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Preventive Maintenance - {{ business_unit_name|upper }} {% endblock %}

{% block css %}

    <link rel="stylesheet" href="{% static 'inventory/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">

{% endblock %}

{% block page_title %} <span class="text-success">{{ client|upper }} | {{ business_unit_name|upper }}</span> {% endblock %}
{% block page_title_second %}
	<a href="{% url 'inventory:pm-list' %}"> PM List</a> > <a href="#"> Details</a> > Units per branch
{% endblock %}

<!-- Dynamic content per module -->
{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">

                        <div class="float-right">
                            {% if perms.inventory.add_unit %}
                                <a href="{% url 'inventory:unit-create' %}" class="btn btn-success btn-sm">Add Unit</a>
                            {% endif %}
                            <a href="{% url 'inventory:pm-view' pm_pk %}" class="btn btn-dark btn-sm">Back</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            {% if perms.inventory.view_unit %}
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover" id="unit-data-table">
                                        <thead>
                                            <tr>
                                                <th>Serial Number</th>
                                                <th>Client</th>
                                                <th>Area</th>
                                                <th>Business Unit</th>
                                                <th>Location</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% include 'inventory/includes/unit/partial_unit_list.html' %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

<!-- modal for displaying unit information -->
<div class="modal fade" id="unit_information_modal" tabindex="-1" role="dialog" aria-labelledby="unitInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title" id="unitInfoLabel">Serial Number: <span id="unit_serial_number" class="font-weight-bold text-warning"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 offset-md-2">
                            <label for="unit_machine_class">Machine:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_machine_class" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_computer_tag">Computer Tag:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_computer_tag" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_mst_tag">MST Tag:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_mst_tag" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_user">User:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_user" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_designation">Designation:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_designation" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_working">Working:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_working" class="font-weight-bold text-success"></span>
                        </div>

                        <div class="col-md-4 offset-md-2">
                            <label for="unit_status">Status:</label>
                        </div>
                        <div class="col-md-6">
                            <span id="unit_status" class="font-weight-bold text-success"></span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

    <script src="{% static 'inventory/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'inventory/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>

    <script>
        /*  Data Table
        -------------*/
        (function ($) {

            // display unit information in a modal
            $('#unit_information_modal').on('show.bs.modal', function(e){
                let unit_info_url = $(e.relatedTarget).data('url');

                $.ajax({
                    url: unit_info_url,
                    type: 'GET',
                    success:function(data){
                        console.log(data['unit'][0]['area']);
                        $('#unit_machine_class').html(data['unit'][0]['machine_type__machine_class']);
                        $('#unit_serial_number').html(data['unit'][0]['serial_number']);
                        $('#unit_computer_tag').html(data['unit'][0]['computer_tag']);
                        $('#unit_mst_tag').html(data['unit'][0]['mst_tag']);
                        $('#unit_user').html(data['unit'][0]['user']);
                        $('#unit_designation').html(data['unit'][0]['designation']);
                        $('#unit_working').html(data['unit'][0]['working']);
                        $('#unit_status').html(data['unit'][0]['status']);
                    }
                })
            });

            $('#unit-data-table thead th').each( function () {
                var title = $(this).text();
                if (title != 'Action') {
                    $(this).html( '<input type="text" name="'+title+'" placeholder="'+title+'" />' );
                }
            } );    

            var unit_table = $('#unit-data-table').DataTable({
                order: [[1, "asc"], [2, "asc"], [3, "asc"]],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"processing": true,
                //"serverSide": true,
                //"ajax": "{% url 'inventory:unit_list_json' %}",
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            });

            unit_table.columns().every( function () {
                var that = this;
         
                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                });
            });
        })(jQuery);
    </script>

    <!-- custom javascript -->
    <script src="{% static 'inventory/js/custom/unit_crud.js' %}"></script>

{% endblock %}