{% extends 'inventory/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Microsphere - Unit Create {% endblock %}

{% block page_title %} Create Unit {% endblock %}
{% block page_title_second %}<a href="{% url 'inventory:unit-list' %}"> Unit List</a> > Create {% endblock %}

{% block content %}

<form method="POST" id="create-inventory" data-url="{% url 'inventory:load_business_units' %}" data-model-url="{% url 'inventory:load_model_choices' %}" data-brand-url="{% url 'inventory:load_brand_choices' %}">
{% csrf_token %}
	<div class="content mt-3">
	    <div class="animated fadeIn">
	    	<div class="row">
	    		<div class="col-md-12">
			        <div class="card">
			            <div class="card-header">
			            	<div class="float-right">
			            		<!-- <input type="submit" class="btn btn-primary btn-sm" value="Save and add another" title="Save and add another"> -->
			            		<input type="submit" class="btn btn-success btn-sm" value="Save" title="Save Unit">
			            		<a href="{% url 'inventory:unit-list' %}" class="btn btn-dark btn-sm" role="button" title="Cancel Add">Cancel</a>
			            	</div> 
			            </div>
	    	
				    	<div class="row pt-2 pl-2 pr-2">
				        	<div class="col-lg-6">
				                <div class="card">
				                    <div class="card-header"><strong>Main Details</strong></div>
				                    <div class="card-body">
				                        {% for field in form.visible_fields|slice:":8" %}
							                <div class="row form-group">
							                    <div class="col col-md-5">{{ field.label_tag }}</div>
							                    <div class="col-7 col-md-7">
							                    	{{ field }}
							                    	<small class="form-text text-danger">{{ field.errors }}</small>
							                    </div>
							                </div>
						                {% endfor %}
				                    </div>
				                </div> <!-- .card -->
				            </div>

				            <div class="col-lg-6">
				                <div class="card">
				                    <div class="card-header"><strong>Other Details</strong></div>
				                    <div class="card-body card-block">
				                    	{% for field in form.visible_fields|slice:"8:" %}
							                <div class="row form-group">
							                    <div class="col col-md-5">{{ field.label_tag }}</div>
							                    <div class="col-7 col-md-7">
							                    	{{ field }}
							                    	<small class="form-text text-danger">{{ field.errors }}</small>
							                    </div>
							                </div>
						                {% endfor %}
				                    </div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
	    </div><!-- .animated -->
	</div><!-- .content -->
</form>

{% endblock %}

{% block js %}
    <script src="{% static 'inventory/js/custom/unit_crud.js' %}"></script>
    <script src="{% static 'inventory/js/custom/unit_ajax_dropdown.js' %}"></script>
{% endblock %}