{% extends 'inventory/base.html' %}
{% load static %}

{% block title %} Microsphere - Unit View {% endblock %}

{% block page_title %} Serial Number: <span class="text-success">{{ unit.serial_number }}</span> {% endblock %}
{% block page_title_second %}
	<a href="{% url 'inventory:unit-list' %}"> Unit List</a> > Details
{% endblock %}


{% block content %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
				{% include 'inventory/includes/unit/partial_unit_detail.html' %}
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

<div class="modal fade" id="modal-unit" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>


<!-- modal for entering notes to be saved -->
<div class="modal fade" id="notes_modal" tabindex="-1" role="dialog" aria-labelledby="notesmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title" id="notesmodalLabel">Please enter your notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger font-weight-bold empty_notes"></p>
                <textarea id="notes_remarks" class="form-control" cols="30" rows="10" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="add_remarks_btn">Confirm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for notifications -->
<div class="modal fade" id="notification_modal" tabindex="-1" role="dialog" aria-labelledby="notificationmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <h5 class="modal-title" id="notificationmodalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

{% endblock%}


{% block js %}

    <!-- custom javascript -->
    <script src="{% static 'inventory/js/custom/unit_crud.js' %}"></script>

    <script>
        jQuery(function($) {

            let pm_history_url;

            $('#notes_modal').on('show.bs.modal', function (e){
                pm_history_url = $(e.relatedTarget).data('url');
                $('.empty_notes').html('');
                $('#notes_remarks').removeAttr('style');
            });

            $('#add_remarks_btn').click(function(){

                let remarks = $('#notes_remarks').val();

                if (remarks == '' || remarks == null) {
                    $('.empty_notes').html('Notes can not be empty.');
                    $('#notes_remarks').css('border-color', 'red');
                    return true;
                }

                $.ajax({
                    url: pm_history_url,
                    type: 'POST',
                    datatype: 'json',
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                           'remarks': remarks},
                    success:function(data){
                        if (data.is_valid) {
                            $('#pm_history_list').html(data.pm_history_list);
                            $('#notes_modal').modal('hide');
                            $('#notes_remarks').val('');
                            $('#notification_modal').modal('show');
                            $('#notificationmodalLabel').html(data.message);
                        }
                    }

                });
            });

        });
    </script>

{% endblock %}
