{% extends 'inventory/base.html' %}
{% load widget_tweaks %}

{% block page_title %}<a href="{% url 'unit-list' %}"> Unit List</a> > <a href="{% url 'unit-view' unit.pk %}"> Details</a> > Edit {% endblock %}
{% block page_title_second %} Unit List {% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}
	<div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title pt-1">
                    <h1>Serial Number: <a href="{% url 'unit-view' unit.pk %}" class="text-success">{{ unit.serial_number }}</a></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                    	<div class="pr-2">
                    		<button type="submit" class="btn btn-success" role="button" title="Save Details">Save</button>
                    	</div>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                        	<div class="form-row">
                        		<div class="form-group col-md-1">
                        			<strong class="card-title">Client: <span class="text-success">{{ unit.business_unit.client|upper }} </span> | </strong>
                        		</div>

                        		<div class="form-group col-md-1">
                        			<strong class="card-title">Area:</strong>
                        			{% render_field form.area class="form-control form-control-sm" %}
                        		</div>
                        		<div class="form-group col-md-1">
                        			<strong class="card-title">Business Unit:</strong>
                        			{% render_field form.business_unit class="form-control form-control-sm" %}
                        		</div>
                        	</div> 
                        </div>
                        <div class="card-body">
                        	<div class="container-fluid">

                        		{% if form.errors %}
								    <div class="col-md-12 pl-0">
	                        			<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
	                        				<div class="pl-4">
	                        					{% for key, value in form.errors.items %}
							                    	{{ value }}
							                    {% endfor %}
	                        				</div>
						                
						                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						                        <span aria-hidden="true">&times;</span>
						                    </button>
						                </div>
	                        		</div>
                        		{% endif %}

                        		<div class="col-md-5">

                        			<div class="row border border-success">

										<div class="col-4">
											<label>Type: </label>
										</div>
										<div class="col-8">
											{{ form.machine_type }}
										</div>

										<div class="col-4">
											<label>Brand: </label>
										</div>
										<div class="col-8">
											{{ form.machine_brand }}
										</div>

										<div class="col-4">
											<label>Model: </label>
										</div>
										<div class="col-8">
											{{ form.model }}
										</div>

										<div class="col-4">
											<label>Serial Number: </label>
										</div>
										<div class="col-8">
											{{ form.serial_number }}
										</div>

										<div class="col-4">
											<label>Computer Tag: </label>
										</div>
										<div class="col-8">
											{{ form.computer_tag }}
										</div>

										<div class="col-4">
											<label>MST Tag: </label>
										</div>
										<div class="col-8">
											{{ form.mst_tag }}
										</div>

										<div class="col-4">
											<label>User: </label>
										</div>
										<div class="col-8">
											{{ form.user }}
										</div>
										<div class="col-4">
											<label>Designation: </label>
										</div>
										<div class="col-8">
											{{ form.designation }}
										</div>
									</div>

							    </div>

						    	<div class="col-md-5 ml-1">

							    	<div class="row border border-success">
										<div class="col-5">
											<label>Operating System: </label>
										</div>
										<div class="col-7">
											{{ form.operating_system }}
										</div>

										<div class="col-5">
											<label>Office Application: </label>
										</div>
										<div class="col-7">
											{{ form.office_application }}
										</div>

										<div class="col-5">
											<label>Host Name: </label>
										</div>
										<div class="col-7">
											{{ form.host_name }}
										</div>

										<div class="col-5">
											<label>MAC Address: </label>
										</div>
										<div class="col-7">
											{{ form.mac_address }}
										</div>

										<div class="col-5">
											<label>IP Address: </label>
										</div>
										<div class="col-7">
											{{ form.ip_address }}
										</div>

										<div class="col-5">
											<label>Processor: </label>
										</div>
										<div class="col-7">
											{{ form.processor }}
										</div>

										<div class="col-5">
											<label>Total Ram: </label>
										</div>
										<div class="col-7">
											{{ form.total_ram }}
										</div>
										<div class="col-5">
											<label>HDD Size: </label>
										</div>
										<div class="col-7">
											{{ form.hdd_size }}
										</div>
									</div>

						    	</div>

							    <div class="col-5 mt-1">
										
									<div class="row border border-success">
										<div class="col-4">
											<label>Monitor Type: </label>
										</div>
										<div class="col-8">
											{{ form.monitor_type }}
										</div>
										<div class="col-4">
											<label>Monitor Brand: </label>
										</div>
										<div class="col-8">
											{{ form.monitor_brand }}
										</div>
										<div class="col-4">
											<label>Monitor Size: </label>
										</div>
										<div class="col-8">
											{{ form.monitor_size }}
										</div>
									</div>

								</div>

								

								<div class="col-5 mt-1 ml-1">

									<div class="row border border-success">
										<div class="col-2">
											<label>Remarks: </label>
										</div>
										<div class="col-8">
											{{ form.remarks }}
										</div>
									</div>

								</div>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->

</form>

{% endblock %}