{% extends 'inventory/base.html' %}
{% load static%}

{% block title %} Microsphere - Dashboard {% endblock %}

{% block page_title %} Dashboard {% endblock %}
{% block page_title_second %} Dashboard {% endblock %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row pt-2">

            <div class="col-md-3 text-center">
                <form method="POST" id="create-inventory" data-url="{% url 'inventory:load_business_units' %}">
                    {% csrf_token %}
                    {% for field in filter_form %}

                        <div class="col-md-12">
                            {{ field.label_tag }}
                            {{ field }}
                            <span class="text-danger">{{ field.errors }}</span>
                        </div>
                        
                    {% endfor %}

                    <div class="col-md-12 pt-3">
                        <button type="submit" class="btn btn-success w-100">FILTER</button>
                    </div>
                    
                </form>
            </div>

            <div class="col-md-3">
                <div class="card bg-flat-color-5 border border-dark h-100">
                    <div class="card-body text-center">
                        <h2 class="mt-2">Total # of Units:</h2>
                        <h1 class="mt-4" style="font-size: 5rem;">
                            <span class="badge badge-primary">
                                <a href="{% url 'inventory:pm-list' %}" class="text-light">{{ unit_count }}</a>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card bg-flat-color-5 border border-dark h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-7">
                                <h2 class="card-title">PM Count: <a class="badge badge-primary" href="{% url 'inventory:pm-list' %}">{{ pm_count }}</a></h2>
                            </div>
                            <div class="col-5">
                                {% for count in pm_count_status%}
                                    {% if not count.pm_done %}
                                        <h3><span class="badge badge-danger w-100"> Pending: {{ count.status_count }}</span></h3>
                                    {% else %}
                                        <h3><span class="badge badge-success w-100">Done: {{ count.status_count }}</span></h3>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="row pt-3">
                            <div class="col">
                                
                                <h6 class="card-title font-weight-bold">Upcoming Preventive Maintenance: </h6>
                                <ul class="offset-1 text-dark">

                                    {% for pm in pms %}
                                        <li><a href="{% url 'inventory:pm-view' pm.pk %}" class="text-danger">{{ pm }} | {{ pm.target_date }} | {{ pm.target_time }}</a></li>
                                    {% empty %}
                                        <p class="text-danger">No upcoming schedule.</p>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

		</div>

        <div class="row pt-4">

            <div class="col-md-3">
                <div class="card bg-warning border border-dark h-100">
                    <!-- <img class="card-img-top" src="images/placeholder.png" alt="Card image cap"> -->
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total Unit Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # of unit count per business unit: </h6>

                        <ul class="offset-1">
                            {% for bu in unit_count_per_bu %}
                            <li>{{ bu.business_unit_name }} <span class="badge badge-primary">{{ bu.unit_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-info border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total Machine Type Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per machine type: </h6>

                        <ul class="offset-1">
                            {% for count in machine_type_count %}
                            <li>{{ count.machine_type_name }} <span class="badge badge-primary">{{ count.machine_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-secondary border border-dark h-100">
                    <div class="card-body">
                       <!--  <h4 class="card-title">Total Processor Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per processor: </h6>

                        <ul class="offset-1">
                            {% for count in processor_count %}
                            <li>{{ count.processor_name }} <span class="badge badge-primary">{{ count.processor_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-flat-color-2 border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total OS Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per OS: </h6>

                        <ul class="offset-1">
                            {% for count in os_count %}
                            <li>{{ count.os_name }} <span class="badge badge-primary">{{ count.os_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
             <div class="col-md-3">
                <div class="card bg-flat-color-4 border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total OS Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per RAM: </h6>

                        <ul class="offset-1">
                            {% for count in ram_count %}
                            <li>{{ count.total_ram_name }} <span class="badge badge-primary">{{ count.ram_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-flat-color-6 border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total OS Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per HDD: </h6>

                        <ul class="offset-1">
                            {% for count in hdd_count %}
                            <li>{{ count.hdd_size_name }} <span class="badge badge-primary">{{ count.hdd_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-success border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total OS Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per Monitor Type: </h6>

                        <ul class="offset-1">
                            {% for count in monitor_type_count %}
                            <li>{{ count.monitor_type }} <span class="badge badge-primary">{{ count.monitor_type_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-primary border border-dark h-100">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Total OS Count: 
                            <a class="badge badge-primary" href="{% url 'inventory:unit-list' %}">{{ unit_count }}</a>
                        </h4> -->

                        <h6 class="card-title font-weight-bold">Total # per Office Application: </h6>

                        <ul class="offset-1">
                            {% for count in office_app_count %}
                            <li>{{ count.office_app_name }} <span class="badge badge-primary">{{ count.office_app_count }}</span></li>
                            {% empty %}
                                <p class="text-danger">No count available.</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

	</div>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'inventory/js/custom/unit_ajax_dropdown.js' %}"></script>
{% endblock%}