{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Microsphere Login {% endblock%}


{% block content %}

    <div class="login-logo">
        <a href="{% url 'account:login' %}">
            <h3 class="text-success"><img class="align-content" src="{% static 'inventory/images/microsphere_logo.png' %}" align="middle" alt="microsphere_logo" width="55" height="50"> {{ company_name }}</h3>
        </a>
    </div>
    <div class="login-form">
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
        {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
        </form>

        <div class="row pt-1">
            <div class="col text-center">
                <a href="{% url 'account:password_reset' %}" class="text-danger font-weight-bold">Forgot Password?</a>
            </div>
        </div>

        <!-- <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
            </div> -->
    </div>

{% endblock %}
