{% extends 'registration/base.html' %}
{% load widget_tweaks %}

{% block title %} Microsphere Password Reset {% endblock%}

{% block content %}
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="images/logo.png" alt="">
        </a>
    </div>
    <a class="btn btn-warning btn-flat mb-1" href="{% url 'account:login' %}"><i class="fa fa-arrow-circle-left"></i> Login page</a>
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <h4 class="text-success">Please enter the associated recovery email address to your account</h4>

                <div class="pl-3">
                    {% if form.errors %}
                        {% for errors in form %}
                            <span class="text-danger">{{ errors.errors }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            
                <div class="form-group">
            
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                    {% endfor %}
                </div>

            <button type="submit" class="btn btn-success btn-flat m-b-15">Send password reset</button>
            
        </form>
    </div>
{% endblock %}
