{% extends 'inventory/base.html' %}
{% load widget_tweaks %}

{% block title %} Microsphere - Change password {% endblock %}


{% block page_title %} Change password {% endblock %}
{% block page_title_second %}
  Change password
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row justify-content-center align-items-center" style="height:20vh;">
          <div class="col-6 border border-success p-3">

              {% if next %}
                  {% if user.is_authenticated %}
                  <p class="bg-warning p-1">Your account doesn't have access.</p>
                  {% else %}
                  <p class="bg-secondary">Please login to see this page.</p>
                  {% endif %}
              {% endif %}
        
              <div class="pl-3">
              {% if form.errors %}
                  {% for errors in form %}
                      <span class="text-danger">{{ errors.errors }}</span>
                  {% endfor %}
              {% endif %}
              </div>

              <form method="post" action="{% url 'accounts:password_change' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {% render_field field class="form-control" %}
                    </div>
                {% endfor %}
                <input class="btn btn-success mt-3 w-100" type="submit" value="Change Password" />
                <input type="hidden" name="next" value="{{ next }}" />
              </form>
          </div>
      </div>
  </div>
{% endblock %}


