{% extends 'registration/base.html' %}

{% block title %} Microsphere Password Complete {% endblock%}

{% block content %}
    <div class="login-logo">
        <a href="index.html">
            <img class="align-content" src="images/logo.png" alt="">
        </a>
    </div>
    <div class="login-form">
        <h4 class="text-success">Password reset complete</h4>
        <p>
            Your password has been changed.
        </p>

        <a class="btn btn-warning btn-flat" href="{% url 'account:login' %}">Click here to login</a>
    </div>
{% endblock %}
